<!DOCTYPE html>
<html>
	<head>
	    <title>User story manager - {{function}} story</title>
            <meta charset="utf-8">
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='form.css')}}">
            <meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
		<body>
            <h1>User Story Manager  - {{function}} Story</h1>
			<form action="/story/{{data.id}}" method="post" class = "form-horizontal" role = "form">
				<h4 >Story title</h4>
                    <div data-toggle="tooltip" title="Please write here you user story tittle!">
				        <textarea name='story_title' class = "form-control" rows="1">{{data.story_title}}</textarea>
                    </div>
                <h4 >User story</h4>
                    <div data-toggle="tooltip" title="Please write here you user story !">
				        <textarea name='user_story' class = "form-control" rows = "3">{{data.user_story}}</textarea>
				    </div>
                <h4 >Acceptance criteria</h4>
                    <div data-toggle="tooltip" title="Please write here the acceptance criterias !">
				        <textarea name='acceptance_criteria' class = "form-control" rows = "3">{{data.acceptance_criteria}}</textarea>
				    </div>
                <h4>Business Value</h4 >
                    <div data-toggle="tooltip" title="Add business value !!">
                        <input name="business_value" type="number" value="{{data.business_value}}" min="100" max="1500" step="100"/>
                    </div>
                <h4>Estimation (h)</h4>
                    <div data-toggle="tooltip" title="Add estimation time!">
                        <input name="estimation" type="number" value="{{data.estimation}}" min="0.5" max="40" step="0.5"/>
                    </div>
                <h4>Status</h4>
                    <div data-toggle="tooltip" title="Choose from the list for your status !">
                        <Select name="status" value="{{data.status}}" class="btn btn-default dropdown-toggle">
                            <option value="planning">Planning</option>
                            <option value="to do">To Do</option>
                            <option value="in progress">In Progress</option>
                            <option value="review">Review</option>
                            <option value="done">Done</option>
                        </Select>
                    </div>
                 <div class="left">
				    <button type='submit' class="btn btn-primary">Save</button>
                </div>
			</form>

		</body>
</html>
